// Use this file to set SASS variables for @edx/paragon
// See _variables.scss in https://github.com/edx/paragon/blob/master/scss/core/ for reference

// Dicey Tech colors
//
$red: #d9534f;
$usc_gold: #ffc803;
$dark_cyan: #0f7087;
$very_dark_magenta: #440641;
$bright_turquoise: #0cebdc;
$vivid_cyan: #23c9ff;
$pale_violet: #a18fff;
$vivid_cerise: #d9167e;
$fern: #61ce70;
$white: #ffffff;
$blue: #022260;

$primary: $usc_gold;
$secondary: $vivid_cerise;


$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Quicksand",
  sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
